<h2>User Registration</h2>
<form action="~/Home/MakeNewUser" method="post"/>
    <p>User Name:</p><input name="UserName" input type="text" />
    <p>Password:</p><input name="Password" type="password" />
    <p>Money:</p><input name="Money" type="number" step=".01" />
    <input type="submit" name="submit" value="Register" />




<form/>