
@{
    ViewBag.Title = "Too Poor";
}

<h2>You are too poor to afford the item!</h2>

<p>Try again when you aren't poor.</p>


    <!--<form action="Shop" method="post" restricted>
        restrict input name so user can't change

        <input name="id" value= />
        <input type="submit" name="Buy" value="Buy" />
    </form>
</td>-->